.auth__container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #092ac8;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../../../public/poke-background.png");
}
.auth__container__card {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 30%;
}
.auth__container__card--title {
  color: #ffc107;
  font-weight: bold;
}

@media (max-width: 1024px) and (min-width: 748px) {
  .auth__container__card {
    width: 50%;
  }
}

@media (max-width: 748px) {
  .auth__container__card {
    width: 80%;
  }
}
