.card__login {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  padding: 25px 24px 25px 24px;
  border-radius: 24px;
  background: #ffffff;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
  transition-duration: 0.4s;
  box-shadow: 0px 1px 32px 0px rgba(174, 172, 243, 0.3490196078);
}
.card__login__form__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}
.card__login__form__container--img {
  width: 200px;
}
.card__login__form__container__buttons {
  display: flex;
  flex-direction: row;
  gap: 8px;
}
.card__login__form__container__buttons--login {
  width: 70%;
}
.card__login__form__container__buttons--social {
  width: 10%;
}

.card__login__form__container__footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: right;
  margin-top: 10px;
  gap: 8px;
}
.card__login__form__container__footer--text {
  font-size: 17px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.87);
}

@media (max-width: 1024px) and (min-width: 748px) {
  .card__login__form__container__buttons--login {
    width: 55%;
  }
  .card__login__form__container__buttons--social {
    width: 15%;
  }
}

@media (max-width: 748px) {
  .card__login__form__container__buttons--login {
    width: 55%;
  }
  .card__login__form__container__buttons--social {
    width: 15%;
  }
}
