

.card__register {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    padding: 25px 24px 25px 24px;
    border-radius: 24px;
    background: #ffffff;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    transition-duration: 0.4s;
    box-shadow: 0px 1px 32px 0px rgba(174, 172, 243, 0.3490196078);
    
  }
  .card__register__form__container{
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 12px;
  }
  .card__register__form__container--img{
    width: 200px;
  }
  .card__register__form__container__footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    margin-top: 10px;
    gap: 8px;
  } 
  .card__register__form__container__footer--text{
    font-size: 17px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.87);
  }