@import "bootstrap/scss/bootstrap";

h1,
h2,
h3,
h4,
p {
  padding: 0px;
  margin: 0px;
  font-family: Poppins,ui-sans-serif,sans-serif;
}
.btn-warning{
    font-weight: 700;
    
}
.input-group-text {
   
    background-color: #fff;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    border: 2px solid rgb(120, 120, 120);
    border-right: 0px;
}
.form-control {
   
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    border: 2px solid rgb(120, 120, 120);
}
.btn-group > .btn, .btn-group-vertical > .btn {
    font-weight: bold;
}

.btn-secondary{
    background-color: #ffffff00;
    border: none;
    font-size: 30px;
}
.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
    background-color: #f6f6f6;
    font-size: 15px;
    font-weight: 500;
    color: black;
    text-decoration: none
}
.nav-link {
    color: rgb(118, 118, 118);
}

.alert {
  display: flex;
  flex-direction: row;
  justify-content: start;
  gap: 5px;
  padding: 5px ;
  padding-left: 15px ;
  margin-bottom: 5px ;
  font-weight: 400;
}