.navbar__container {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  background-color: #092ac8;
  padding: 15px 80px 15px 80px;
  position: relative;
}
.navbar__container--logo {
  width: 220px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.navbar__container__user {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.navbar__container__user--name {
  font-size: 14px;
  font-weight: 500;
  text-align: end;
  color: #f8f9fa;
}
.navbar__container__user--img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

@media (max-width: 1024px) and (min-width: 768px) {
}

@media (max-width: 768px) {
}

@media (max-width: 1024px) and (min-width: 748px) {
  .navbar__container--logo {
    width: 220px;
    position: absolute;
    left: 0;
    transform: translateX(0);
    margin-left: 70px;
  }
  .navbar__container__user--img {
    width: 40px;
    height: 40px;
  }
}

@media (max-width: 748px) {
  .navbar__container--logo {
    width: 180px;
    position: absolute;
    left: 0;
    top: 0;
    transform: translateX(0);
  }
  .navbar__container {
    padding: 15px 20px 15px 20px;
  }
  .navbar__container__user--img {
    width: 40px;
    height: 40px;
  }
  .navbar__container__user--name {
    font-size: 12px;
  }
}
