.navbar__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #092ac8;
  padding: 5px 80px 5px 80px;
}
.navbar__container--logo {
  width: 220px;
}
.navbar__container__user {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.navbar__container__user--name {
  font-size: 14px;
  font-weight: 500;
  text-align: end;
  color: #f8f9fa;
}
.navbar__container__user--img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
