.search__container__pokemons__card__text--ability--tag{
    background-color: rgba(0, 0, 0, 0.349);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    padding: 10px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.search__container__pokemons__card__text--ability--tag--p{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    color: white;
    
}

.search__container__pokemons__card__text--ability--tag--p p{
    font-size: 15px;
    font-weight: 500;
}